{% extends "Templates/default.twig" %}

{% block content %}

    {% if width and height %}
        <div class="row">
            <div class="col-md-12">
                <table id="board" data-width="{{ width }}" data-height="{{ height }}">
                    {% for i in 1..width %}
                        <tr>
                            {% for j in 1..height %}
                                <td id="{{ i }}-{{ j }}"{% if i~"-"~j in lives %} class="active"{% endif %}></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="margin-top: 20px">
                <div class="col-md-4">
                    <button type="button" id="autoPlay" class="btn btn-primary">Start</button>
                    <button type="button" id="stepOne" class="btn btn-info">Step +1</button>
                    <button type="button" id="editButton" class="btn btn-warning">Edit on</button>
                    <button type="button" id="resetButton" class="btn btn-danger">Reset</button>
                </div>

                <div class="col-md-2">
                    <select id="patterns" class="form-control">
                        <option value="-1">Minta betöltése</option>
                        {% for item in boards %}
                            <option value="{{ item.pk() }}">{{ item.bo_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                    <button type="button" id="loadButton" class="btn btn-success">Load</button>
                    <button type="button" id="saveButton" class="btn btn-success">Save</button>
                </div>
            </div>
        </div>

    {% else %}
        <div class="row">
            <div class="col-md-3">
                <h1>Add meg a tábla méretei</h1>

                <form>
                    <div class="form-group">
                        <label for="width">Szélesség *</label>
                        <input type="number" class="form-control" name="width" id="width" required>
                    </div>

                    <div class="form-group">
                        <label for="height">Magasság *</label>
                        <input type="number" class="form-control" name="height" id="height" required>
                    </div>

                    <div class="form-group">
                        <label for="height">Élő pontok (soronként 1, x-y formában)</label>
                        <textarea class="form-control" name="lives"></textarea>
                    </div>

                    <button type="submit" class="btn btn-default">Mehet</button>
                </form>
            </div>
        </div>
    {% endif %}

    <div class="modal fade" id="saveModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            {% form.open url('mainAjax',{actiontarget: 'gol',maintarget: 'save'}),{id: 'save-Form'} %}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Alakzat mentése</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="width">Név *</label>
                        <input type="text" class="form-control" name="name" id="width" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Mégsem</button>
                    <button type="submit" class="btn btn-primary">Mentés</button>
                </div>
            </div>
            </form>
        </div>
    </div>

    {% raw %}
    <script id="td-template" type="text/twig">
        {% for i in 1..width %}
            <tr>
                {% for j in 1..height %}
                    <td id="{{ i }}-{{ j }}"{% if i~"-"~j in lives %} class="active"{% endif %}></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </script>
    {% endraw %}

{% endblock %}